button{
    position: absolute;
    bottom: 40%;
    left: 45.5%;
    color: white;
    font-size: larger;
    border: 1px transparent;
    padding: 1%;
    background-color: rgb(15, 199, 85);
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 47%;
}

li{ 
    margin: 1% 1% 1% 1%;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.527);
}

.board{
    background-color: #ffc0cb;
    width: 50%;
    height: 500px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.651);
    border-radius: 15px;
    padding-left: 38px;
}